# This is an example .env file.
# Copy this file to .env and replace the values with your own.

# Google Drive API Credentials
VITE_GOOGLE_CLIENT_ID="YOUR_CLIENT_ID"
VITE_GOOGLE_API_KEY="AIzaSyCS2FESjH0V3pE1JBgptW_z7QGGXPekH5c"
